.card {
  border: 2px solid black;
  /* border-radius: 5px; */
  width: 270px;
  margin: 10px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__title {
  text-align: center;
  margin: 10px;
}

.card__image {
  /* border: 2px solid rgb(230, 152, 42); */
  /* border-radius: 5px; */
  width: 270px;
}

.card__description {
  text-align: center;
}

.card__descriptionTitle {
  color:rgb(230, 152, 42);
  font-weight: 700;
}
