.modal {
  position: absolute;
  top: 10px;
  left: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__content {
  height: 10px;
  width: 200px;
  padding: 20px;
  border-radius: 12px;
  background-color: rgb(245, 161, 161);
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__text {
  font-weight: 500;
}
