.input {
  margin: 5px auto 5px 7px;
  display: flex;
  flex-direction: column;
}

.input__container {
  margin: 5px;
}

.input__label {
  margin-right: 10px;
  font-weight: 500;
}

.input__error {
  display: block;
  color: red;
  margin-left: 15px;
}
